<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24401215303-jh2j8dv556tm0ijv2jv12jt5msapkpcs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24401215303-jh2j8dv556tm0ijv2jv12jt5msapkpcs</string>
	<key>API_KEY</key>
	<string>AIzaSyAbApGzhp0zG_kqRM0My6VuuSE6P51PSXU</string>
	<key>GCM_SENDER_ID</key>
	<string>24401215303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.splebbo.GitHubEvents</string>
	<key>PROJECT_ID</key>
	<string>huray-10833</string>
	<key>STORAGE_BUCKET</key>
	<string>huray-10833.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24401215303:ios:3e98588ed43f08b12d9662</string>
</dict>
</plist>